name: GitHub Metrics

on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: IsraelOjiefoh
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Africa/Lagos
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
