name: GitHub Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Runs every day at midnight
  workflow_dispatch: # Allows you to run it manually
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io jq
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: IsraelOjiefoh
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Africa/Lagos
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
